<div class="tsdemo-group" id="tsdemo-group">
  <div id="tsicon" data-toggle="tooltip" title="April Home styles">
    <span>20+ DEMOS</span>
  </div>
  <div id="tsdemo" style="display:none;">
    <div class="demo-slider">
      <div class="home-1">
        <a href="https://cs-april-1.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a01.jpg" alt="" />
          <span>April #01</span>
        </a>
      </div>
      <div class="home-2">
        <a href="https://cs-april-2.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a02.jpg" alt="" />
          <span>April #02</span>
        </a>
      </div>
      <div class="home-3">
        <a href="https://cs-april-3.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a03.jpg" alt="" />
          <span>April #03</span>
        </a>
      </div>
      <div class="home-4">
        <a href="https://cs-april-4.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a04.jpg" alt="" />
          <span>April #04</span>
        </a>
      </div>
      <div class="home-5">
        <a href="https://cs-april-5.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a05.jpg" alt="" />
          <span>April #05</span>
        </a>
      </div>
      <div class="home-6">
        <a href="https://cs-april-6.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a06.jpg" alt="" />
          <span>April #06</span>
        </a>
      </div>
      <div class="home-7">
        <a href="https://cs-april-7.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a07.jpg" alt="" />
          <span>April #07</span>
        </a>
      </div>
      <div class="home-8">
        <a href="https://cs-april-8.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a08.jpg" alt="" />
          <span>April #08</span>
        </a>
      </div>
      <div class="home-9">
        <a href="https://cs-april-9.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a09.jpg" alt="" />
          <span>April #09</span>
        </a>
      </div>
      <div class="home-10">
        <a href="https://cs-april-10.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a10.jpg" alt="" />
          <span>April #10</span>
        </a>
      </div>
      <div class="home-11">
        <a href="https://cs-april-11.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a11.jpg" alt="" />
          <span>Furniture</span>
        </a>
      </div>
      <div class="home-12">
        <a href="https://cs-april-12.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a12.jpg" alt="" />
          <span>Organic</span>
        </a>
      </div>
      <div class="home-13">
        <a href="https://cs-april-13.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a13.jpg" alt="" />
          <span>Flower</span>
        </a>
      </div>
      <div class="home-14">
        <a href="https://cs-april-14.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a14.jpg" alt="" />
          <span>Handmade</span>
        </a>
      </div>
      <div class="home-15">
        <a href="https://cs-april-15.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a15.jpg" alt="" />
          <span>Bakery</span>
        </a>
      </div>
      <div class="home-16">
        <a href="https://cs-april-16.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a16.jpg" alt="" />
          <span>Digital</span>
        </a>
      </div>
      <div class="home-17">
        <a href="https://cs-april-17.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a17.jpg" alt="" />
          <span>Jewelry</span>
        </a>
      </div>
      <div class="home-18">
        <a href="https://cs-april-18.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a18.jpg" alt="" />
          <span>Kid</span>
        </a>
      </div>
      <div class="home-19">
        <a href="https://cs-april-19.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a19.jpg" alt="" />
          <span>Portfolio</span>
        </a>
      </div>
      <div class="home-20">
        <a href="https://cs-april-20.myshopify.com/">
          <img src="https://cdn.shopify.com/s/files/1/2554/9162/files/a20.jpg" alt="" />
          <span>Car Shop</span>
        </a>
      </div>
    </div>
  </div>  
</div>
<style>
  @-webkit-keyframes demos20 {
    0% {
      background: #000;
      color: #fff;
    }
    50% {
      background: #fff;
      color: #000;
    }
  }
  @keyframes demos20 {
    0% {
      background: #000;
      color: #fff;
    }
    50% {
      background: #fff;
      color: #000;
    }
  }
  .tsdemo-group{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 500ms ease; 
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;    
    z-index: 21;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);    
  }
  .tsdemo-group.open{
    height: auto; 
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;    
  }  
  #tsicon{
    margin-top: -30px;
  }
  #tsicon span{
    display: inline-block;
    * display: inline;
    zoom: 1;
    cursor: pointer; 
    font-size: 15px;
    background: #000;
    color: #fff;
    padding: 5px 30px;
    margin-left: 15px; 
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);    
    transition: all 500ms ease; 
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-animation: demos20 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite; /* Safari 4+ */
    -moz-animation:    demos20 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite; /* Fx 5+ */
    -o-animation:      demos20 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite; /* Opera 12+ */
    animation:         demos20 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite; /* IE 10+, Fx 29+ */
  }   
  #tsdemo{  
    display: block !important;
    border-top: 2px solid #000;
    width:100%;
    background:#fff;                      
    overflow: hidden;    
    padding: 0;      
  }
  #tsdemo.open-slider{     
    padding: 10px 30px;
    background: #f7f7f7;    
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);              
  }      
  #tsdemo .owl-item{
     padding: 5px;
  }
  #tsdemo .owl-item > div{   
    background: #fff;
    border: 1px solid #ddd;    
    transition: all .3s linear;
    text-align: center;
  }
  #tsdemo .owl-item > div > a{
    display: block;
  }
   #tsdemo .owl-item > div > a > span{ 
     font-size: 12px;
     color: #333;     
     padding: 5px;
     display: block;
     font-weight: 600;
   }
  #tsdemo .owl-item > div:hover{
    box-shadow: 0px 5px 10px 0px #7e7e7e;
  }
  #tsdemo .owl-controls .owl-buttons .owl-next{
    right: -30px;
    left: auto;
  }
  #tsdemo .owl-controls .owl-buttons .owl-prev{
    left: -30px;
    right: auto;
  }
  #tsdemo .owl-controls .owl-buttons .owl-next,
  #tsdemo .owl-controls .owl-buttons .owl-prev{
    width: 30px;
    background-color: transparent;
    border-color: transparent !important;
    color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  } 
  #tsdemo .owl-controls .owl-buttons .owl-next:hover,
  #tsdemo .owl-controls .owl-buttons .owl-prev:hover{
    color: #f76b6a;
  }
</style>

<script>
  $(window).ready(function($) {
    
    function show_demo(){            
      $('#tsicon').toggleClass('open');
      if($('#tsicon').hasClass('open')) $('#tsicon').attr("data-original-title","Click to close");      
      else $('#tsicon').attr("data-original-title","April Home styles");      
      $('#tsdemo').toggleClass("open-slider");
      $('#tsdemo-group').toggleClass('open');      
      $('.demo-slider').owlCarousel({
        navigation : true,
        pagination: false,
        autoPlay: false,
        items: 10,
        slideSpeed : 100,
        paginationSpeed : 800,
        rewindSpeed : 1000,
        itemsDesktop : [1199,10],
        itemsTablet: [991,8],    
        itemsTabletSmall : [767,2],
        itemsMobile: [540,2]
      });
    }
    $('#tsicon').click(function(){      
      show_demo();
    });
   
    setTimeout(function(){
      show_demo();
    }, 8000);
  });
</script>